@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #43affc;
	border: 1px solid red;
}

::selection {
	color: #fff;
	background: #43affc;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 700px;
	background: #fff;
	border-radius: 7px;
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper header {
	display: flex;
	font-size: 21px;
	font-weight: 500;
	color: #43affc;
	padding: 16px 15px;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

.input-part {
	margin: 20px 25px 30px;
}

.info-text {
	text-align: center;
	padding: 0 15px;
	border: 1px solid #ccc;
}

.content {
	display: flex;
	flex-direction: column;
}

#zipcode-input {
	width: 100%;
	height: 2.5rem;
	text-align: center;
	font-size: 1.1em;
}

#submit-button {
	background-color: rgb(140, 230, 140);
	height: 2.5rem;
	width: 100%;
	font-size: 1.1em;
	background: #43affc;
	color: #fff;
	cursor: pointer;

	width: 100%;
	height: 55px;
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 7px;
}

.separator {
	height: 1px;
	width: 100%;
	margin: 25px 0;
	background: #ccc;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.separator::before {
	content: "or";
	color: #b3b3b3;
	font-size: 19px;
	padding: 0 15px;
	background: #fff;
}

.weather-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.weather-header {
	padding-top: 4rem;
	padding-bottom: 2rem;
}

/* I used pure css for capitalize the first leter of Days instead vanilla js toUpperCase*/
.weather-header::first-letter {
	text-transform: capitalize;
}

.forecast-container {
	display: flex;
	justify-content: space-evenly;
}

.day-container {
	width: 10rem;
	height: 10rem;
	background-color: rgb(228, 237, 237);
	/* padding: 1rem; */
	margin: 0.2rem;
	padding-left: 5px;
}

.weekday {
	background: #76adc1;
	padding: 5px;
	color: white;
}

.logo {
	padding-top: 2rem;
}
